name: Publish to npm
on:
  push:
    tags:
      - v[0-9].[0-9]+.[0-9]+
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: yarn
      - run: yarn workspace @jsdrupal/client build
      - run: yarn ci
      - run: yarn workspace @jsdrupal/client npm publish --access=public
