name: Publish to npm
on:
  push:
    tags:
      - v[0-9].[0-9]+.[0-9]+
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: yarn
      - run: yarn workspace @jsdrupal/client build
      - run: yarn ci
      - run: echo "registry=https://npm.pkg.github.com/jsdrupal" >> .npmrc
      - run: npm whoami
      - run: yarn workspace @drupal/client npm publish --access=public
